version: '3.8'

services:
  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app-net

  postgres-users:
    image: postgres:15-alpine
    container_name: postgres-users
    restart: unless-stopped
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: users_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_users_data:/var/lib/postgresql/data
    networks:
      - app-net

  postgres-meals:
    image: postgres:15-alpine
    container_name: postgres-meals
    restart: unless-stopped
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: meals_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_meals_data:/var/lib/postgresql/data
    networks:
      - app-net

  kafka:
    image: bitnami/kafka:3.6
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_CFG_NODE_ID: 0
      KAFKA_CFG_PROCESS_ROLES: controller,broker
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 0@kafka:9093
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CFG_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    volumes:
      - kafka_data:/bitnami/kafka
    networks:
      - app-net

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8082:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAP_SERVERS: kafka:9092
    depends_on:
      - kafka
    networks:
      - app-net

  users-service:
    build:
      context: .
      dockerfile: Dockerfile.users
    container_name: users-service
    ports:
      - "8080:8080"
    environment:
      - CONFIG_PATH=/app/config.yaml
    volumes:
    - ./user_service/config.yaml:/app/config.yaml
    depends_on:
      - postgres-users
      - redis
      - kafka
    networks:
      - app-net

  meals-service:
    build:
      context: .
      dockerfile: Dockerfile.meals
    container_name: meals-service
    ports:
      - "8081:8081"
    environment:
      - CONFIG_PATH=/app/config.yaml
    volumes:
    - ./meal_service/config.yaml:/app/config.yaml
    depends_on:
      - postgres-meals
      - redis
      - kafka
    networks:
      - app-net

volumes:
  redis_data:
  postgres_users_data:
  postgres_meals_data:
  kafka_data:

networks:
  app-net:
    name: app-net
    driver: bridge